.legend-panel {
    position: absolute;
    z-index: 1000;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.legend-color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
}



/* Container  */
.button-section-group {
    position: absolute;
    top: 0;
    right: 0;
    width: 50rem;
    height: auto;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    z-index: 999;
}

#login-btn {
    z-index: 1000;
}

#spinners {
    display: none;
    z-index: 1000;
}

.modal-backdrop {
    z-index: 1;
}